.day{
    background-color: white;
    color: black;
}

.night{
    background-color: black;
    color: white;
}

.button_day{
    background-color: white;
    color: black;
}

.button_night{
    background-color: darkblue;
    color: gold;
}


html, body {
    margin: 0px;
    height: 100%;
}

#app {
    height: 100%;
    padding: 10px;
}